@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {    
    min-height: 100%;   
}

body {
    padding: 0;
    
}

body.modal-visible {
    overflow: hidden;
}

body.modal-visible .movies-list .movies-list {
}

#app {
    min-height: 100%;
}

a {
    /* @apply text-primary-light; */
}
a:hover {
    /* @apply text-primary-dark; */
}

.link {
    text-transform: uppercase;
    font-weight: 700;
    /* @apply text-beige; */
}

h1, h2, h3 {
    width: 100%;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

h4, h5, h6 {
    font-weight: 700;
    line-height: 1.25;
}

h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; font-weight: normal; }

hr {
    height: 1px;
    /* @apply bg-grey-light mb-8; */
    border: none;
}

button, a.btn {
    /* border: 1px solid; */
    /* @apply bg-gradient-to-b from-grey-darker to-grey-darkest border-grey-darker text-beige; */
    /* font-size: 1rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3rem; */
}

button:hover, a.btn:hover {
    /* color: #fff;
    text-shadow: 0 1px 1px #111;
    background-image: none; */
    /* @apply bg-grey-dark; */
}

.btn.btn-primary {
    /* @apply bg-gradient-to-b from-primary-light to-primary-dark; */
}

.btn.btn-primary:hover {
    /* background-image: none; */
    /* @apply bg-primary-light; */
}

.btn.btn-outline {
    /* background-image: none; */
    /* border: 2px solid; */
    /* @apply border-grey-darkest; */
}

.btn.disabled, button[disabled] {
    /* @apply text-gray-500; */
}

input[type=text],
input[type=password] {
    /* @apply rounded-md px-2; */
    /* outline-color: #fff; */
}
